# Created by venv; see https://docs.python.org/3/library/venv.html
.env
__pycache__/
*.pyc
staticfiles/
images/user_icons/
db.sqlite3

Lib/
Scripts/
Include/
pyvenv.cfg
*.pyc
__pycache__/
db.sqlite3
.env

IAMユーザー情報