{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワードを忘れた場合 | DayLine</title>
    <link rel="stylesheet" href="{% static 'css/DayLine_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_signup/login_signup.css' %}">
    <script src="{% static 'js/other.js' %}" defer></script>
    <link rel="icon" href="{% static "img/favicon.ico" %}" >

</head>
<body>
    <header>
        <a href="{% url "DayLine_2_top:top" %}">
            <div class="app-icon"><img src="{% static 'img/DayLine2.svg' %}" alt=""></div>
        </a>
        <div class="header-content">
            <a href="{% url 'DayLine_2_top:contact' %}" id="contact">問い合わせ</a>
            <a href="{% url 'DayLine_3_accounts:signup' %}" class="change-signup-login">サインアップ</a>
        </div>
    </header>
    <main>
        <div class="login-signup">
            <div class="login-signup-header" style="letter-spacing: -1px;">パスワードリセット</div>
            <form method="POST" action="" id="signup-form" class="signup-login-form">
                {% csrf_token %}
                <div id="signup-form-inputs">
                    <div class="name-mail">
                    {{ form.new_password1 }}
                    {{ form.new_password2 }}
                    </div>
                    <div class="passwortd-condition">
                        <ul>
                            <li id="specified_length" class="passwortd-condition-list"><img src="{% static 'img/チェックマーク_未チェック.png' %}" alt=""><span>8〜20文字</span></li>
                            <li id="specified_character" class="passwortd-condition-list"><img src="{% static 'img/チェックマーク_未チェック.png' %}" alt=""><span>半角英字、数字を使用</span></li>
                            <li id="safety" class="passwortd-condition-list"><img src="{% static 'img/チェックマーク_未チェック.png' %}" alt=""><span>安全性が高い</span></li>
                            <li id="password_matched" class="passwortd-condition-list"><img src="{% static 'img/チェックマーク_未チェック.png' %}" alt=""><span>確認用パスワードが一致</span></li>
                        </ul>
                    <div style="display: flex;justify-content: center;">
                        <button type="submit" class="login-submit" id="login-btn">送信</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>