{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/DayLine_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_signup/login_signup.css' %}">
    <script src="{% static 'js/accounts/other.js' %}" defer></script>
</head>
<body>
    <header>
        <a href="{% url "DayLine_2_top:top" %}">
            <div class="app-icon"><img src="{% static 'img/DayLine2.svg' %}" alt=""></div>
        </a>
        <div class="header-content">
            <a href="{% url 'DayLine_2_top:contact' %}" id="contact">問い合わせ</a>
            <a href="{% url 'DayLine_3_accounts:signup' %}" class="change-signup-login">サインアップ</a>
        </div>
    </header>
    <main>
        <div class="login-signup">
            <div id="signup-form" class="signup-login-form">
                <div id="signup-form-inputs">
                    <p style="text-align: center; font-weight: 700;">パスワード変更用のurlを送信しました<br>メールを確認してパスワードを再設定してください</p>
                </div>
            </div>
        </div>
    </main>
</body>

</html>