
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FullCalendar CSS -->
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.css" rel="stylesheet">
    <title>DayLine</title>
    <link rel="icon" href="{% static "img/favicon.ico" %}" >
    <!-- 作成のcss -->
    {% comment %} <link rel="stylesheet" href="../css/index/create-sidebar.css"> {% endcomment %}
    
    <!-- FullCalendar JS -->
    <script  src="{% static 'js/index/main-settings.js' %}"  defer></script>
    <!-- main.js の読み込み（href ではなく src） -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
    <!-- fullcarendarのrruleプラグインを実装 -->
    <script src="https://cdn.jsdelivr.net/npm/rrule@2.7.2/dist/es5/rrule.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@6.1.8/index.global.min.js"></script>
    
    
    <!-- 全体のCSS -->
    <link rel="stylesheet" href="{% static 'css/DayLine_style.css' %}">
    <!-- ヘッダーのcss -->
    <link rel="stylesheet" href="{% static 'css/index/header.css' %}">
    <!-- メインのcss -->
    <link rel="stylesheet" href="{% static 'css/index/main.css' %}">
    <!-- fullcalendarのcss -->
    <link rel="stylesheet" href="{% static 'css/index/fullcalendar.css' %}">
    <!-- 作成サイドバー -->
    <link rel="stylesheet" href="{% static 'css/index/create-sidebar.css' %}">
    <!-- 右サイドバー -->
    <link rel="stylesheet" href="{% static 'css/index/right_sidebar.css' %}">
    <!-- 左サイドバー -->
    <link rel="stylesheet" href="{% static 'css/index/left_main.css' %}">
    <!-- 詳細モーダル -->
    <link rel="stylesheet" href="{% static 'css/index/detail_modal.css' %}">
    <!-- 生成aiのチャット -->
    <link rel="stylesheet" href="{% static "css/index/chat-sidebar.css" %}">
    <!-- flatpickr → 参考：https://pa-tu.work/blog/flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="{% static 'js/flatpickr.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/confetti.css">
</head>
<body>
    {% include 'components/header.html' %}
    <main>
        <div id="right-sidebar-overlay"></div>
        <div id="right-sidebar" class="right-main">
            <!-- カレンダーのリスト -->
            <div id="calendar-list">
                <div class="calendar-list-hader">
                    <p>カレンダーリスト</p>
                </div>
                <div id="calendar-lists">
                    {% for room in my_rooms %}
                    <div class="calendar-list" data-room-id="{{ room.id }}">
                        <div class="calendar-list-img">
                        <label class="clendar-out-check">
                            <input type="checkbox" class="calendar-visibility-check" data-room-id="{{ room.id }}" checked>
                            <div class="clendar-out-checked"></div>
                            <img src="{% static "img/チェックマーク2.svg" %}" alt="">
                        </label>
                            <img src="{{ room.room_img.url }}" alt="">
                        </div>
                        <div class="calendar-list-name">
                            {{room.room_name}}
                        </div>
                        <div class="calendar-settings">
                            <a href="{% url 'DayLine_1_DayLine:settingroom' pk=room.pk %}"><img src="{% static "img/ルーム_設定1.svg" %}" alt=""></a>
                            <div class="calendar-settings-balloon">詳細設定</div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- カレンダーの追加 -->
                    <a href="{% url 'DayLine_1_DayLine:createroom' %}">
                        <div id="add-calendar">
                            <div id="ass-calendar-img"><img src="{% static 'img/calendar_add_img.svg' %}" alt=""></div>
                            <div id="calendar-add-mane">
                                カレンダーを追加
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="calendar-container">
            <div id="calendar"></div>
        </div>
        <div id="create-sidebar-overlay"></div>
        {% include 'components/create_sidebar.html' %}
        <!-- 生成ai -->
        {% include 'components/ai_chat.html' %}
    </div>
    
    
    {% include 'components/detail_modal.html' %}
        <div class="left-main">
            <a href="{% url "DayLine_1_DayLine:index" %}">
                <div class="housekeeping">
                    <img src="{% static 'img/カレンダーアイコン.svg' %}" alt="">
                </div>
            </a>

            <div class="ai-function"><img src="{% static "img/dayline_ai_icon.svg" %}" alt=""></div>
            <a href="{% url 'DayLine_3_accounts:settings' %}"><img class="housekeeping" src="{% static "img/dayline_user_icon.svg" %}" alt=""></a>
        </div>

    </main>
</body>
</html>